body {
	background-color: thistle;
	font: caption;
	color: black;	
}
h1 {
	color: navy;
	margin-left: 30px:	
}
h2 {
	color: navy;
	margin-left: 16px: 
}
.section {
    display: flex;
}
nav {
    border-bottom: 1px solid black;
}
